*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: black;
    font-family: 'Manrope', sans-serif;
}
/*****************************************header + nav *********************/

#banner-index{
    width: 100%;   
    margin-top: 5px;
}

#banner-index img{
    width: 100%;
    height: 500px;
    
}

.img-banner{
    object-fit: cover;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: white;
}

nav a{
    box-shadow: none;
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-size: 1.2em;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 300px; 
}
.menu-burger{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    color: black;
    display: none;
}
.nav-exit {
    display: none;
}

/******************************************************Main*************************************/

#all-main{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 50px; 
} 
#all-main p,
#all-main h1{
    color: white;
    margin-top: 20px; 
}
#all-main h1{
    font-size: 3em;
}

.left-main{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
}
.left-main p{
    width: 500px;
}

.lien-a-propos{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    border-radius: 20px;
    width: 200px;
    color: white;
    margin-top: 50px;
    transition: transform 0.5s;
}


.lien-a-propos {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
    list-style-type: none;
}

.right-main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-main figure img{
    max-width: 500px;

}
.right-main figure {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    
    color: white;
    padding: 8px;  
}

.wallpaper{
    height: 600px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7) url(imgs/wallpaper-soundtracks.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.wallpaper a{
    font-size: 1.5em;
    border: solid;
    border-radius: 20px;
    
    color: white;
    text-decoration: none;
    list-style-type: none;
}
.wallpaper p{
    color: white;
    margin-bottom: 20px;
    font-size: 1.9em;
    
}

.lien-soundtracks{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;  
    font-weight: bold;
    transition: transform 0.5s;
}
/************************ footer ***************************************/

footer{
    background-color: white;
}

#all-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

#all-footer h2{
    font-size: 3em;
    margin-bottom: 30px;
    margin-top: 20px;
}

.footer-logo img{
    width: 80px;
    margin-bottom: 30px;
    transition: 0.7s;
    
}

.footer-logo img:hover{
    transform: translateY(-2px);
    
}

.logos-footer{
    word-spacing: 30px;
}

.logos-footer a  {
    font-size: 35px;
    color: black;
    gap: 500px;
    
}
footer p {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.logos-footer a:hover,
.lien-soundtracks:hover,
nav a:hover,
.lien-a-propos:hover  {
    opacity: 0.5;
    
}

.lien-a-propos:hover,
.lien-soundtracks:hover{
    transform: scale(1.1);
}

/*******************************Soundtracks**********************/
.wallpaper-soundtracks{
    height: 600px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7) url(imgs/Soundtracks.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.wallpaper-soundtracks h2,
.wallpaper-a-propos h2{
    font-size: 3em;
    color: white;
}
.section-albums{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.grid-albums{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 300px 300px 300px ;
    gap: 20px;
}

.grid-albums img{
flex-wrap: wrap;              
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

.grid-albums img:hover{
    transform:translatey(-10px) ;
}

/************************ a propos *********************/

.photo-sam,
.photo-dan,
.photo-tom,
.photo-adam,
.photo-alex{
    width: 300px;
    height: 300px;
    overflow: hidden; 
    border-radius: 50%;
    position: relative;
}

.photo-sam img,
.photo-dan img,
.photo-tom img,
.photo-adam img,
.photo-alex img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1.5s;
    filter: grayscale(1);
}

.photo-sam:hover img,
.photo-dan:hover img,
.photo-tom:hover img,
.photo-adam:hover img,
.photo-alex:hover img{
    transform: scale(1.2);
    filter: grayscale(0);
    
}

.sam-text,
.dan-text,
.tom-text,
.adam-text,
.alex-text{
    color: white;
    width: 50%;
    padding-left: 20px;
}
.sam-text h2,
.dan-text h2,
.tom-text h2,
.adam-text h2,
.alex-text h2{
font-size: 2em;
margin-bottom: 10px;
}
/***************cartes**********/

.right-carte{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.carte-1,
.carte-3,
.carte-2,
.carte-4,
.carte-5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width:  960px;
    /* border: solid white; */
    gap: 50px;
}

.wallpaper-a-propos{
    height: 600px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7) url(imgs/images_a-propos/bands.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carte-1,
.carte-3,
.carte-5{
    border-right: solid white;
}

.reseaux-circle{
    position: absolute;
    top: 58px;
    right: -40px;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    gap: 10px;
    transition: 1s;
}

.photo-tom:hover .reseaux-circle,
.photo-sam:hover .reseaux-circle,
.photo-adam:hover .reseaux-circle,
.photo-alex:hover .reseaux-circle,
.photo-dan:hover .reseaux-circle{
    right: 20px;
}

.reseaux-circle a {
    color: white;
}
.reseaux-circle a:hover {  
    color: black;
}

/******************** POPUP-OVERLAY ********************/

#popup-overlay,
#popup-overlay2,
#popup-overlay3,
#popup-overlay4,
#popup-overlay5,
#popup-overlay6,
#popup-overlay7,
#popup-overlay8,
#popup-overlay9{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none; 
}

#popup-overlay.open,
#popup-overlay2.open,
#popup-overlay3.open,
#popup-overlay4.open,
#popup-overlay5.open,
#popup-overlay6.open,
#popup-overlay7.open,
#popup-overlay8.open,
#popup-overlay9.open{
     display: block ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    background-color: black;
    border-radius: 10px;
    color: white;
    position: relative;
    border: solid 0.5px;  
}

.top-popup{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    gap: 5px;
}

#popup-overlay3 .top-popup{
    padding-left: 70px;
}

#popup-overlay5 .top-popup{
padding-left: 30px;
}


.popup-sounds{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    border-top: solid rgba(255, 255, 255, 0.807); 
    padding-top: 30px; 
}
.popup-sounds img{
    width: 319px;
}

.popup-exit{
    position: absolute;
    top: 0;
    right: 10px;
    color: white;
}

.sounds-titles{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sounds-times{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
}


/* *********************************Contact ********************************* */

#contact{
    background-color: black;
    padding: 100px 15;
    margin-top: 50px;
    margin-bottom: 50px;

}
.corp_contact{
    background-color: white;
    max-width: 900px;
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10px;
    box-sizing: border-box;
    border-radius: 15px;
    
}

.title{
    text-align: center;
    margin-bottom: 50px;
}

.title h6{
    font-size: 1.3em ;
}

.title h3{
    font-size: 3em;

}
#contact .corp_contact form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;

}
#contact .corp_contact form input{
    width: 46%; 
    
}

#contact .corp_contact form input:hover,
#contact .corp_contact form textarea:hover
{
    border-bottom:  2px solid rgb(70,130,180) ;
    
}
#contact .corp_contact form input,
#contact .corp_contact form textarea{
    margin: 16px 0  ;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid #e4e4ec;
    transition: 0.2s;

}


#contact .corp_contact form textarea{
    width: 100%;
    resize: none;
    height: 150px;
    margin-bottom: 40px;   
}

#contact .corp_contact form button{
    width: 192px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.844);
    border: solid 3px black;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 30px;
    outline:  none;
    margin: 0 auto;
    transition: 0.2s;
}

#contact .corp_contact form button:hover{
    transform:  translateY(-5px);
    box-shadow: rgb(214, 214, 214) 0px 10px 40px 0px;
}

.wallpaper-contact{
    height: 600px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7) url(imgs/wallpaper-contact);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    

}
.wallpaper-contact h2{
    font-size: 3em;
}
    /***************************** WELCOME PAGE************************************ */

    #welcome-section {
        width: 100%;
        position: relative;
    }
    
    /* Styles pour le bouton "WELCOME" */
.button-welcome {
    width: 200px;
    height: 50px;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 70%; /* Position verticale au milieu de l'écran */
    left: 50%; /* Position horizontale au milieu de l'écran */
    transform: translate(-50%, -50%); /* Pour centrer horizontalement et verticalement */
    border: solid black 0.5px;
    border-radius: 50px;
    text-decoration: none;
    color: rgb(218, 214, 214);
    background-color: rgba(0, 0, 0, 0.4);
    transition: transform 1s;
    
    
    
}

.button-welcome:hover{
    transform: translate(-50%, -70%); /* Légère translation vers le haut lors du survol */
}
    
#background-video {
    position: fixed; /* Position fixe pour qu'elle reste à l'arrière-plan */
    top: 0;
    left: 0;
    width: 100%; /* Largeur de la vidéo sur toute la largeur de l'écran */
    height: 100%; /* Hauteur de la vidéo sur toute la hauteur de l'écran */
    object-fit: cover; /* Remplir l'écran en conservant le ratio d'aspect */
    
}




/* Media Query Nav 1260px + Tablette */
@media screen and (max-width: 1260px){
    nav ul{
        gap: 150px;
    }
}

@media screen and (max-width: 900px){
    nav ul{
        gap: 100px;
    }
}



/* ---------------------------Page Home-------------------- */
            /********Media Query Home Tablette************/
@media screen and (max-width: 900px){
    #all-main {
        flex-direction: column;
        padding-top: 0px;
    }

    .left-main {
        width: 100%;
        
        align-items: center;
        text-align: center;
    }

    
}
/********Media Query Home Mobile************/

@media screen and (max-width: 600px){

    nav{
        height: auto;
        
        
    }
    #nav-burger{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        gap: 30px;
        width: 100%;
        text-align: center;
        top: 0;
        left: -600px;
        height: 100vh;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.9);
        
        
    }
    #nav-burger.open{
        display: block;
        left: 0;
        display: flex;
        justify-content: flex-start;
        padding-top: 10px;
        
        
    }

    

    .menu-burger{
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 30px;
        color: rgb(255, 255, 255);
        display: block;
    }

    nav a{
        color: white;
    }

    .nav-exit {
        display: block;
        color: red;
        border: solid;
        border-radius: 100%;
        width: 8%;
    }

    #banner-index img {
        height: 20%;
    }

    #all-main {
        flex-direction: column;
        padding-top: 0px;
    }

    #all-main h1 {
        font-size: 2em; 
    }
    .left-main {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .left-main p {
        width: 100%;
    }

    .right-main figure img {
        max-width: 319px;
    }

    .wallpaper {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 50px;
    }

}

/*************** Page à-propros Tablette ************************/
/********Media Query à propos Mobile************/

@media screen and (max-width: 900px){
    
    .carte-2,
    .carte-4{
        flex-direction: row-reverse;
    }

    .carte-1,
    .carte-2,
    .carte-3,
    .carte-4,
    .carte-5 {
        margin-top: 100px;
        
    }

    .wallpaper-a-propos {
        height: 300px;
        background: rgba(0, 0, 0, 0.7) url(imgs/images_a-propos/bands.jpg);
        background-attachment: fixed;
        background-position: center;
        
    }


}
/********Media Query à propos Mobile************/


@media screen and (max-width: 600px) { 
    .carte-1,
    .carte-2,
    .carte-3,
    .carte-4,
    .carte-5 {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 30px;
        border-right: none;
        border-bottom: solid grey;
    }

    .photo-sam,
    .photo-dan,
    .photo-tom,
    .photo-adam,
    .photo-alex{

        width: 175px;
        height: 175px;

    }
    
    .reseaux-circle {
        top: 40px;
        font-size: 20px;  
    }

    .sam-text, .dan-text, .tom-text, .adam-text, .alex-text {
        text-align: center;
        width: 80%;
        
    }
    .wallpaper-soundtracks h2, .wallpaper-a-propos h2 {
        font-size: 1.5em;
        text-align: center;
    }

    .wallpaper-a-propos {
        height: 156px;
        background-position: top;
        background-size: contain;
        
    }

    #all-footer h2 {
        font-size: 2em;
        text-align: center;
    }

    .logos-footer {
        word-spacing: 15px;
    }

    #all-carte{
        margin-bottom: 50px;
    }

    .sam-text, .dan-text, .tom-text, .adam-text, .alex-text {
        
        padding-bottom: 50px;
    }
    
}

/*************** Page Discographie Tablette ************************/
@media screen and (max-width: 900px){
    .grid-albums {
        grid-template-columns: 250px 250px;
        grid-template-rows: 250px;
        gap: 30px;
        /* border-bottom: solid 1px white; */
    }

    .wallpaper-soundtracks h2{
        text-align: center;

    }

    .wallpaper-soundtracks {
        height: 300px;
        background: rgba(0, 0, 0, 0.7) url(imgs/Soundtracks.jpg);
        background-attachment: fixed;
        /* background-position: center; */
        /* background-size: cover; */
        
    }

    #popup-overlay5 img{
        width: 250px;
    }
}
/********Media Query Discographie Mobile************/

@media screen and (max-width: 600px) {

    .wallpaper-soundtracks {
        height: 240px;
        background: rgba(0, 0, 0, 0.7) url(imgs/Soundtracks.jpg);
        background-attachment: fixed;
        /* background-position: center; */
        /* background-size: cover; */
        
    }

    .grid-albums {
        display: grid;
        grid-template-columns: 150px 150px;
        grid-template-rows: 154px;
        gap: 30px;
        /* border-bottom: solid 1px white; */
    }

    .top-popup{
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 0px;
    }
    .popup-sounds img{
        display: none;
    }

    #popup-overlay5 .popup-sounds{
        align-items: flex-start;
        
    
    }

    #popup-overlay5 .sounds-times{
        gap: 11px;

    
    }

}

/*************** Page contact Tablette ************************/
@media screen and (max-width: 900px){
    .wallpaper-contact {
        height: 241px;
        background-position: top;
        background-size: contain;
    }
}
/********Media Query contact Mobile************/

@media screen and (max-width: 600px) {

    .wallpaper-contact {
            height: 156px;
            background-position: top;
            background-size: contain;
        }
    

    .wallpaper-contact h2 {
        font-size: 1.5em;
        text-align: center;
    }

}
